<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="mask-icon" type="" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
  <link rel="shortcut icon" type="image/png" href="images\ECL-Logo-1.png">
  <title>EMS | Submitted Requests</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/af-2.3.7/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/cr-1.5.4/date-1.1.1/fh-3.1.9/kt-2.6.2/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.4/sb-1.1.0/sp-1.3.0/datatables.min.js"></script>

  <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage("resize", "*");
    }
  </script>
</head>

<body translate="no" class="bg-gray-900 text-white">

  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>ECL</h3>
      </div>

      <ul class="list-unstyled components">
        <li>
          <a href="/dashboard">Dashboard</a>
        </li>
        <!-- <p>Dummy Heading</p> -->

        <div id="accordion">

          <li>
            <a href="#taskSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Tasks</a>
            <ul class="collapse list-unstyled" id="taskSubmenu">
              <li class="active">
                <a href="/viewTasks">View Tasks</a>
              </li>
              <li>
                <a href="/assignTask">Assign Tasks</a>
              </li>
              <!-- <li>
                        <a href="#">Home 3</a>
                    </li> -->
            </ul>
          </li>

          <li>
            <a href="#requestSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Leave Requests</a>
            <ul class="collapse list-unstyled" id="requestSubmenu">
              <li>
                <a href="/requestStatus">Request Status</a>
              </li>
              <li>
                <a href="/submitRequest">Submit Requests</a>
              </li>
            </ul>
          </li>

          <!-- <li>
            <a href="#rateSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Employee Rating</a>
            <ul class="collapse list-unstyled" id="rateSubmenu">
              <li>
                <a href="/viewRating">View Rating</a>
              </li>
              <li>
                <a href="/rateEmployees">Rate Employees</a>
              </li>
            </ul>
          </li> -->

        </div>

        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>

      <ul class="list-unstyled CTAs">
        <!-- <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li> -->
        <li>
          <a href="/logout" type="button" class="logout btn btn-danger">Logout</a>
        </li>
      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content" style="padding: 0;">

      <div class="container-fluid flex mt-4 mb-12">

        <button type="button" id="sidebarCollapse" class="flex-2 btn btn-primary btn-lg">
          <i class="fas fa-align-left"></i>
          <span>Menu</span>
        </button>
        <button class="flex-2 btn btn-light  btn-lg d-inline-block ml-auto" type="button">
          <a href="/profile"><i class="fas fa-user-alt"></i></a>
        </button>

      </div>

      <h1 class="text-center py-10">Submitted Requests</h1>
      <!--
      <div class="container bg-blue-200 m-16 border-8"> -->
      <div class="row px-20">
        <div class="container bg-blue-100 rounded-2xl col-xs-12 px-10 py-10 mb-8" style="overflow-x:auto;">
          <table class="table table-bordered border-black table-hover dt-responsive text-black w-full">

            <thead>
                <tr class="bg-gray-800 text-white text-center">
                  <th>SNo.</th>
                  <th>Sender</th>
                  <th>Leave Type</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Description</th>
                </tr>
              </thead>

              <tbody>
                <% if(user.length>0){ %>
                  <% user.forEach(function(row,i){ %>
                    <tr>
                      <td class="text-center"><%= i+1 %></td>
                      <td class="text-center"><%= row.name %></td>
                      <td class="text-center"><%= row.leaveType %></td>
                      <td class="text-center"><%= row.leaveFrom %></td>
                      <td class="text-center"><%= row.leaveTill %></td>
                      <td class="text-center"><%= row.leaveReason %></td>
                    </tr>

                  <% }) %>
                <% } %>
              </tbody>

          </table>
        </div>

        <div class="flex text-center relative mt-2 mb-16 pt-4 w-full">
          <div class="realtive flex-1 lg:w-1/2 md:1/2 sm:1/2 mx-2">
            <button type="back" class="mx-auto text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg" onclick="goBack()">Back</button>
          </div>
        </div>

      </div>

    </div>

    <script>
      function goBack() {
        window.history.back();
      }
    </script>

    <!-- Scripts for Searching and Sorting data entries -->

    <script src='https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js'></script>

    <!-- End of Scripts for Searching and Sorting data entries     -->

    <script id="rendered-js">
      $('table').DataTable();
    </script>

    <script>
      $(document).ready(function() {
        $('#sidebarCollapse').on('click', function() {
          $('#sidebar').toggleClass('active');
        });
      });
    </script>

    <script src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeRefreshCSS-4793b73c6332f7f14a9b6bba5d5e62748e9d1bd0b5c52d7af6376f3d1c625d7e.js"></script>

</body>

</html>
